.product-reviews {
  padding: 30px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.product-review {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.stars {
  color: orange;
  margin-bottom: 10px;
}

.star {
  font-size: 20px;
}

.review {
  margin-bottom: 10px;
}

.average-rating {
  font-size: 18px;
  font-style: italic;
  color: #666;
}
