@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "403 - Nuk keni Akses";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">403 | Nuk keni qasje ne kete pjese - InfinitMarket.</p>
</header>
