.artikujt {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  width: 90%;
  flex-wrap: wrap;
  gap: 0.8em;
}

.titulliArtikuj {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2em;
  width: 100%;
  padding-left: 1em;
}

.titulliArtikuj h1 {
  margin-bottom: 0.5em;
  font-weight: 500;
  color: #0f243b;
}

.emri-foto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}

.artikulli {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex-basis: 250px;
  background-color: #fff;
  box-shadow: 0 0 10px #d3d3d3;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 10px;
}

.artikulliLabel {
  text-align: center;
  font-size: 10pt;
  color: rgb(99, 93, 93);
}

.artikulli img {
  width: 90%;
  aspect-ratio: 3/2;
  object-fit: contain;
  margin-bottom: 0.8em;
}

.artikulli a {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.butonatDiv {
  display: flex;
  justify-content: space-between;
}

.butonatDiv button{
  font-size: 12px;
}

.cmimet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  margin-top: auto;
}

.cmimi {
  font-weight: bold;
  color: #676464;
  font-size: 13pt;
}

.cmimiPaZbritje {
  font-size: 10pt;
  text-decoration: line-through;
}

.navigimiFaqev {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.navKerkimi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.searchBar {
  width: 23em;
  padding: 1em 2em;
  border: 1px solid #d3d3d3;
  border-radius: 25px;
}

.button-kategoria {
  margin: 2em;
}

.button-kategoria span {
  font-size: 15pt;
}

.zbritjaBadge {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.8em;
  margin-right: 0.8em;
  padding: 0px 5px 0px 5px;
  border-radius: 7px;
  background-color: #ec3d08;
  color: #fff;
  font-size: .75rem;
  font-weight: bold;
  line-height: 1;
}

.zbritjaBadge p {
  margin: 2px;
}
