@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <!-- Input fields for personal information -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Emri" class="form-control" autocomplete="Emri" aria-required="true" placeholder="Filan" />
                        <label asp-for="Input.Emri">Emri</label>
                        <span asp-validation-for="Input.Emri" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Mbiemri" class="form-control" autocomplete="Mbiemri" aria-required="true" placeholder="Fisteku" />
                        <label asp-for="Input.Mbiemri">Mbiemri</label>
                        <span asp-validation-for="Input.Mbiemri" class="text-danger"></span>
                    </div>
                </div>
            </div>
       
            <!-- Input fields for additional information -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.DataLindjes" class="form-control" autocomplete="DataLindjes" aria-required="true" placeholder="dd/mm/yyyy" type="date" />
                        <label asp-for="Input.DataLindjes">Data Lindjes</label>
                        <span asp-validation-for="Input.DataLindjes" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.NrTelefonit" class="form-control" autocomplete="NrTelefonit" aria-required="true" placeholder="+38343111000" />
                        <label asp-for="Input.NrTelefonit">Nr. Telefonit</label>
                        <span asp-validation-for="Input.NrTelefonit" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.GjiniaZgjedhur">Gjinina</label>
                <select asp-for="Input.GjiniaZgjedhur" class="form-control" required>
                    <option value="M">Mashkull</option>
                    <option value="F">Femer</option>
                </select>
                <span asp-validation-for="Input.GjiniaZgjedhur" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Adresa" class="form-control" autocomplete="Adresa" aria-required="true" placeholder="Lagjja Kalabria" />
                <label asp-for="Input.Adresa">Adresa</label>
                <span asp-validation-for="Input.Adresa" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Qyteti" class="form-control" autocomplete="Qyteti" aria-required="true" placeholder="Prishtine" />
                        <label asp-for="Input.Qyteti">Qyteti</label>
                        <span asp-validation-for="Input.Qyteti" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ZipKodi" class="form-control" autocomplete="ZipKodi" aria-required="true" placeholder="10000" />
                        <label asp-for="Input.ZipKodi">Zip Kodi</label>
                        <span asp-validation-for="Input.ZipKodi" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.ShtetiZgjedhur">Shteti</label>
                <select asp-for="Input.ShtetiZgjedhur" class="form-control" required>
                    <option value="Kosovë">Kosovë</option>
                    <option value="Shqipëri">Shqipëri</option>
                    <option value="Maqedoni e Veriut">Maqedoni e Veriut</option>
                </select>
                <span asp-validation-for="Input.ShtetiZgjedhur" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
